# Esenciales para la app
flask
python-dotenv>=1.0.0

# LangChain y Cohere
langchain>=0.1.0
langchain-cohere>=0.1.0
langchain-community>=0.0.10

# Procesamiento de documentos
pypdf>=3.15.1
docarray>=0.32.0
docx2txt